h1 {
  color: #666;
  font-weight: 300;
  text-align:center;
}


.messageBox {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 50px;
  width: 350px;
  background-color: #fff;
  padding-bottom: 55px;
}

.messageBox .messageBoxHeader {
  background: #3498db;
  width: 100%;
  height: 150px;
}

.messageBox .messageBoxHeader .icon {
  color: #fff;
  line-height: 150px;
  font-size: 48px;
  text-align:center;
  width: 100%;
}

.messageBox .btn {
  float: right;
  margin: 15px;
  color: #2980b9;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 400;
}

.messageBox .disabled {
  color: #666;
}

.messageBox .btn:hover {
  color: #3498db;
}

.messageBox .disabled:hover {
  color: #7f8c8d;
}

.messageBox h1 {
  margin: 15px !important;
  font-size: 24px;
  font-weight: normal;
  color: #333;
  text-align:left;
}

.messageBox p {
  margin: 15px;
  color: #888;
}

/* Backgrounds */
.bg-01 {
  background-image: url("http://cdn.bgr.com/2014/12/ultimate-material-lollipop-collection-470.jpg?w=450") !important;  
}